{% extends 'layout.html.twig' %}
{% block body %}
<body class="page-single header-has-img loading">
    {% block mobile_nav %} {{ parent() }} {% endblock %}

    <div class="wrapper">
        {% block header %} {{ parent() }} {% endblock %}

        <div class="content">
            <div class="container">
                <!-- START: PAGE CONTENT -->
                <div class="row animate-up">
                    <div class="col-sm-8">
                        <main class="post-single">
                            <article class="post-content section-box">
                                {% if post.coverImageUrl is not empty %}
                                    <div class="post-media">
                                        <img src="{{ vich_uploader_asset(post, 'coverImageFile') }}" alt="{{ post.title }}"/>
                                    </div><!-- .post-media -->
                                {% endif %}
                                <div class="post-inner">
                                    <header class="post-header">
                                        <div class="post-data">
                                            <div class="post-tag">
                                                {% for tag in post.tags %}
                                                <a href="">#{{ tag.name }}</a>
                                                {% endfor %}
                                            </div>

                                            <div class="post-title-wrap">
                                                <h1 class="post-title">{{ post.title }}</h1>
                                                <time class="post-datetime" datetime="{{ post.createdAt | date('Y-m-d H:i:s') }}">
                                                    <span class="day">{{ post.createdAt | date('d') }}</span>
                                                    <span class="month">{{ post.createdAt | date('M') | upper }}</span>
                                                </time>
                                            </div>

                                            <div class="post-info">
                                                <a href=""><i class="rsicon rsicon-user"></i>by {{ post.freelancer.firstName }} {{ post.freelancer.lastName }}</a>
                                            </div>
                                        </div>
                                    </header>

                                    <div class="post-editor clearfix">
                                       {{ post.content | raw }}
                                    </div>
                                </div><!-- .post-inner -->
                            </article><!-- .post-content -->

                            <div id="disqus_thread"></div>
                            <script>

                                var disqus_config = function () {
                                this.page.url = "{{ url('blog_post', {slug: post.slug}) }}";  // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = {{ post.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };

                                (function() { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://julianli.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                            <div>
                                <span class="btn-outer btn-primary-outer ripple">
                                    <a href="{{ path('blog_list') }}" class="btn btn-lg btn-primary" style="color:white">Back to posts list</a>
                                </span>
                            </div>
                        </main>
                        <!-- .post-single -->
                    </div>

                    <div class="col-sm-4">
                        <div class="sidebar sidebar-default">
                            <div class="widget-area" style="margin-top: 200px">
                                <aside class="widget widget-recent-posts">
                                    <h2 class="widget-title">Recent posts</h2>
                                    <ul>
                                        {% for post in posts %}
                                            <li>
                                                <div class="post-tag">
                                                    {% for tag in post.tags %}
                                                        <b>#{{ tag.name }}</b>
                                                    {% endfor %}
                                                </div>
                                                <h3 class="post-title"><a href="{{ path('blog_post', {slug: post.slug}) }}">{{ post.title }}</a></h3>
                                                <div class="post-info"><i class="rsicon rsicon-eye"></i>{{ post.pageViews }} page views</div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                            </div><!-- .widget-area -->
                        </div><!-- .sidebar -->
                    </div><!-- .col-sm-4 -->
                </div><!-- .row -->
                <!-- END: PAGE CONTENT -->

            </div><!-- .container -->
        </div><!-- .content -->

        {% block footer %} {{ parent() }} {% endblock %}
    </div><!-- .wrapper -->

    {% block preloader %} {{ parent() }} {% endblock %}

    {% block javascripts %} {{ parent() }} {% endblock %}
</body>
{% endblock %}