<!DOCTYPE html>
<html class="theme-color-07cb79 theme-skin-light">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Julian Li - {% block title %}Freelance Developer Melbourne{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('img/favicon/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('img/favicon/safari-pinned-tab.svg') }}" color="#5bd5a2">
        <meta name="theme-color" content="#ffffff">

        <meta name="google-site-verification" content="q3ca3reWF7-RXqb8uK-4MnCPlEXp7KuD_Ve1PvOl2ug" />
        <meta name="description" content="Web Developer in Melbourne who offers his ability and knowledge for software development">
        <meta name="keywords" content="freelance, melbourne, developer, engineer">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@liweiyi88">
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="Julian's website">
        <meta name="twitter:creator" content="@liweiyi88">
        <meta name="twitter:image" content="{{ asset('img/favicon/apple-icon-72x72.png') }}">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">

        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/map-icons/css/map-icons.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/icomoon/style.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/jquery.bxslider/jquery.bxslider.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/jquery.customscroll/jquery.mCustomScrollbar.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/jquery.mediaelement/mediaelementplayer.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/jquery.fancybox/jquery.fancybox.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/jquery.owlcarousel/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('js/plugins/jquery.owlcarousel/owl.theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('colors/green.css') }}">

        <script type="text/javascript" src="{{ asset('js/libs/modernizr.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    {% block body %}
            {% block javascripts %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52548506-5"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'UA-52548506-5');
                </script>

                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiPWLoNb8OXdHULstwFz7Z60nLZhwPLmQ"></script>
                <script type="text/javascript" src="{{ asset('fonts/map-icons/js/map-icons.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.mousewheel-3.0.6.pack.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/imagesloaded.pkgd.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/isotope.pkgd.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.appear.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.onepagenav.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.bxslider/jquery.bxslider.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.customscroll/jquery.mCustomScrollbar.concat.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.mediaelement/mediaelement-and-player.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.fancybox/jquery.fancybox.pack.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.fancybox/helpers/jquery.fancybox-media.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/plugins/jquery.owlcarousel/owl.carousel.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/options.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/site.js') }}"></script>

                <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "Organization",
                    "name": "JulianLi",
                    "url": "http://julianli.co",
                    "logo": "http://julianli.co/img/favicon/apple-icon-72x72.png",
                    "address": {
                        "@type": "PostalAddress",
                        "addressLocality": "Melbourne, Australia",
                        "postalCode": "3000",
                        "streetAddress": "530 Collins St"
                    },
                    "founder": {
                        "@context" : "http://schema.org",
                        "@type" : "Person",
                        "name" : "Julian Li",
                        "url" : "http://julianli.co",
                        "sameAs" : [
                            "https://twitter.com/liweiyi88",
                            "https://www.linkedin.com/in/jweiyi/",
                            "https://github.com/liweiyi88"
                        ],
                        "address": {
                            "@type": "PostalAddress",
                            "addressLocality": "Melbourne, Australia",
                            "postalCode": "3000",
                            "streetAddress": "530 Collins St"
                        },
                        "email": "weiyi.li713@gmail.com",
                        "image": "http://julianli.co/img/uploads/julian.jpg",
                        "jobTitle": "Software Engineer"
                    }
                }
                </script>
            {% endblock %}
    {% endblock %}
</html>
