{% extends 'base.html.twig' %}
{% block body %}
    <body class="home header-has-img loading">
        {% block mobile_nav %}
            <div class="mobile-nav">
                <button class="btn-mobile mobile-nav-close"><i class="rsicon rsicon-close"></i></button>

                <div class="mobile-nav-inner">
                    <nav id="mobile-nav" class="nav">
                        <ul class="clearfix">
                            <li><a href="{{ path('home', {'_fragment': 'about'}) }}">About</a></li>
                            <li><a href="{{ path('home', {'_fragment': 'skills'}) }}">Skills</a></li>
                            <li><a href="{{ path('home', {'_fragment': 'projects'}) }}">Projects</a> </li>
                            <li><a href="{{ path('home', {'_fragment': 'experience'}) }}">Experience</a></li>
                            <li>
                                <a href="{{ path('blog_list') }}">Blog</a>
                            </li>
                            <li><a href="{{ path('home', {'__fragment': 'contact'}) }}">Contact <span></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- .mobile-nav -->
        {% endblock %}

        {% block header %}
            <header class="header">
                <div class="head-bg" style="background-image: url({{ asset('img/uploads/rs-cover.jpg') }})"></div>

                <div class="head-bar">
                    <div class="head-bar-inner">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <a class="logo" href="{{ path('home') }}"><span>{{ freelancer.firstName | upper}}</span>{{ freelancer.lastName | upper}}</a>
                                <!-- <a class="head-logo" href=""><img src="img/rs-logo.png" alt="RScard"/></a> -->
                            </div>

                            <div class="col-sm-9 col-xs-6">
                                <div class="nav-wrap">
                                    <nav id="nav" class="nav">
                                        <ul class="clearfix">
                                            <li><a href="{{ path('home', {'_fragment': 'about'}) }}">About</a></li>
                                            <li><a href="{{ path('home', {'_fragment': 'skills'}) }}">Skills</a></li>
                                            <li><a href="{{ path('home', {'_fragment': 'projects'}) }}">Projects</a> </li>
                                            <li><a href="{{ path('home', {'_fragment': 'experience'}) }}">Experience</a></li>
                                            <li>
                                                <a href="{{ path('blog_list') }}">Blog</a>
                                            </li>
                                            <li><a href="{{ path('home', {'_fragment': 'contact'}) }}">Contact <span></span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- .header -->
        {% endblock %}

        {% block footer %}
            <footer class="footer">
                <div class="footer-social">
                    <ul class="social">
                        {% for socialNetwork in freelancer.socialNetworks %}
                            <li><a class="ripple-centered" href="{{ socialNetwork.link }}" target="_blank"><i class="rsicon {{ socialNetwork.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </footer><!-- .footer -->
        {% endblock %}

        {% block preloader %}
            <a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>

            <div id="overlay"></div>
            <div id="preloader">
                <div class="preload-icon"><span></span><span></span></div>
                <div class="preload-text">Loading ...</div>
            </div>
        {% endblock %}

    {% block javascripts %} {{ parent() }} {% endblock %}
    </body>
{% endblock %}