{% extends 'base.html.twig' %}
{% block body %}
    <div class="mobile-nav">
        <button class="btn-mobile mobile-nav-close"><i class="rsicon rsicon-close"></i></button>

        <div class="mobile-nav-inner">
            <nav id="mobile-nav" class="nav">
                <ul class="clearfix">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li>
                        <a href="category.html">Blog</a>
                        <ul>
                            <li><a href="single-image.html">Tech Post</a></li>
                            <li><a href="single-slider.html">Image Post</a></li>
                        </ul>
                    </li>
                    <li><a href="#calendar">Calendar <span></span></a></li>
                    <li><a href="#contact">Contact <span></span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- .mobile-nav -->

    <div class="sidebar sidebar-fixed">
        <button class="btn-sidebar btn-sidebar-close"><i class="rsicon rsicon-close"></i></button>

        <div class="widget-area">
            <aside class="widget widget-profile">
                <div class="profile-photo">
                    <img src="{{ asset('img/uploads/rs-photo-v2.jpg') }}" alt="{{ freelancer.firstName }} {{ freelancer.lastName }}"/>
                </div>
                <div class="profile-info">
                    <h2 class="profile-title">{{ freelancer.firstName }} {{ freelancer.lastName }}</h2>

                    <h3 class="profile-position">{{ freelancer.title }}</h3>
                </div>
            </aside>
            <!-- .widget-profile -->

            <aside class="widget widget_search">
                <h2 class="widget-title">Search</h2>

                <form class="search-form">
                    <label class="ripple">
                        <span class="screen-reader-text">Search for:</span>
                        <input class="search-field" type="search" placeholder="Search">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </aside>
            <!-- .widget_search -->

            <aside class="widget widget_contact">
                <h2 class="widget-title">Contact Me</h2>

                <form class="rsForm" action="{{ path('index') }}" method="post">
                    <div class="input-field">
                        <label>Name</label>
                        <input type="text" name="rsName" value="">
                        <span class="line"></span>
                    </div>

                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" name="rsEmail" value="">
                        <span class="line"></span>
                    </div>

                    <div class="input-field">
                        <label>Subject</label>
                        <input type="text" name="rsSubject" value="">
                        <span class="line"></span>
                    </div>

                    <div class="input-field">
                        <label>Message</label>
                        <textarea rows="4" name="rsMessage"></textarea>
                        <span class="line"></span>
                    </div>

                    <span class="btn-outer btn-primary-outer ripple">
                        <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                    </span>
                </form>
            </aside>
            <!-- .widget_contact -->

            <aside class="widget widget-popuplar-posts">
                <h2 class="widget-title">Popular posts</h2>
                <ul>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-1.jpg" alt=""/></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>

                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-2.jpg" alt=""/></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>

                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-media"><a href=""><img src="img/uploads/thumb-78x56-3.jpg" alt=""/></a></div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>

                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                </ul>
            </aside>
            <!-- .widget-popuplar-posts -->

            <aside class="widget widget_tag_cloud">
                <h2 class="widget-title">Tag Cloud</h2>

                <div class="tagcloud">
                    <a href="" title="1 topic">Business</a>
                    <a href="" title="9 topics">City</a>
                    <a href="" title="10 topics">Creative</a>
                    <a href="" title="6 topics">Fashion</a>
                    <a href="" title="2 topics">Music</a>
                    <a href="" title="5 topics">News</a>
                    <a href="" title="9 topics">Peoples</a>
                </div>
            </aside>
            <!-- .widget_tag_cloud -->

            <aside class="widget widget-recent-posts">
                <h2 class="widget-title">Recent posts</h2>
                <ul>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>

                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>

                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                    <li>
                        <div class="post-tag">
                            <a href="">#Photo</a>
                            <a href="">#Architect</a>
                        </div>
                        <h3 class="post-title"><a href="">Standard Post Format With Featured Image</a></h3>

                        <div class="post-info"><a href=""><i class="rsicon rsicon-comments"></i>56 comments</a></div>
                    </li>
                </ul>
            </aside>
            <!-- .widget-recent-posts -->

            <aside class="widget widget_categories">
                <h2 class="widget-title">Categories</h2>
                <ul>
                    <li><a href="" title="Architecture Category Posts">Architecture</a> (9)</li>
                    <li><a href="" title="Business Category Posts">Business</a> (16)</li>
                    <li><a href="" title="Creative Category Posts">Creative</a> (18)</li>
                    <li><a href="" title="Design Category Posts">Design</a> (10)</li>
                    <li><a href="" title="Development Category Posts">Development</a> (14)</li>
                    <li><a href="" title="Education Category Posts">Education</a> (9)</li>
                </ul>
            </aside>
            <!-- .widget_categories -->
        </div>
        <!-- .widget-area -->
    </div>
    <!-- .sidebar -->

    <div class="wrapper">
        <header class="header">
            <div class="head-bg" style="background-image: url({{ asset('img/uploads/rs-cover.jpg') }})"></div>

            <div class="head-bar">
                <div class="head-bar-inner">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <a class="logo" href="{{ path('index') }}"><span>{{ freelancer.firstName | upper}}</span>{{ freelancer.lastName | upper }}</a>
                            <!-- <a class="head-logo" href=""><img src="img/rs-logo.png" alt="RScard"/></a> -->
                        </div>

                        <div class="col-sm-9 col-xs-6">
                            <div class="nav-wrap">
                                <nav id="nav" class="nav">
                                    <ul class="clearfix">
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#skills">Skills</a></li>
                                        <li><a href="#portfolio">Portfolio</a></li>
                                        <li><a href="#experience">Experience</a></li>
                                        <li>
                                            <a href="category.html">Blog</a>
                                            <ul>
                                                <li><a href="single-image.html">Tech Post</a></li>
                                                <li><a href="single-slider.html">Image Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#contact">Contact <span></span></a></li>
                                    </ul>
                                </nav>

                                <button class="btn-mobile btn-mobile-nav">Menu</button>
                                <button class="btn-sidebar btn-sidebar-open"><i class="rsicon rsicon-menu"></i></button>
                            </div>
                            <!-- .nav-wrap -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- .header -->

        <div class="content">
            <div class="container">

                <!-- START: PAGE CONTENT -->
                <section id="about" class="section section-about">
                    <div class="animate-up">
                        <div class="section-box">
                            <div class="profile">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="profile-photo"><img src="img/uploads/rs-photo-v1.jpg" alt="Robert Smith"/></div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="profile-info">
                                            <div class="profile-preword"><span>Hello</span></div>
                                            <h1 class="profile-title"><span>I'm</span> {{ freelancer.firstName }} {{ freelancer.lastName }}</h1>

                                            <h2 class="profile-position">{{ freelancer.title }}</h2></div>
                                        <ul class="profile-list">
                                            <li class="clearfix">
                                                <strong class="title">Address</strong>
                                                <span class="cont">24058, Belgium, Brussels, Liutte 27, BE</span>
                                            </li>
                                            <li class="clearfix">
                                                <strong class="title">Freelance</strong>
                                                <span class="cont">till April 15, 2016</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-social">
                                <ul class="social">
                                    {% for socialNetwork in freelancer.socialNetworks %}
                                        <li><a class="ripple-centered" href="{{ socialNetwork.link }}" target="_blank"><i class="rsicon {{ socialNetwork.icon }}"></i></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="section-txt-btn">
                            <p>{{ freelancer.description }}</p>
                        </div>
                    </div>
                </section>
                <!-- #about -->

                <section id="skills" class="section section-skills">
                    <div class="animate-up">
                        <h2 class="section-title">Professional Skills</h2>

                        <div class="section-box">
                            {% for skill in freelancer.skills %}
                                {% if loop.index%2 == 0 %}
                                    <div class="row">
                                {% endif %}
                                        <div class="col-sm-6">
                                            <div class="progress-bar">
                                                <div class="bar-data">
                                                    <span class="bar-title">{{ skill.name }}</span>
                                                    <span class="bar-value">{{ skill.score }}%</span>
                                                </div>
                                                <div class="bar-line">
                                                    <span class="bar-fill" data-width="{{ skill.score }}%"></span>
                                                </div>
                                            </div>
                                        </div>
                                {% if loop.index%2 == 0 %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- #skills -->

                <section id="portfolio" class="section section-portfolio">
                    <div class="animate-up">
                        <h2 class="section-title">Projects</h2>

                        <div class="section-txt-btn clearfix">
                            <p>Interesting projects/events that I participated in, worked on and created</p>
                            <p></p>
                        </div>

                        <div class="grid">
                            <div class="grid-sizer"></div>

                            {% for project in freelancer.projects %}
                                <div class="grid-item size{{ project.coverImageStyleSize }}">
                                    <div class="grid-box">
                                        <figure class="portfolio-figure">
                                            <img src="{{ asset(project.coverImageUrl) }}" alt=""/>
                                            <figcaption class="portfolio-caption">
                                                <div class="portfolio-caption-inner">
                                                    <h3 class="portfolio-title">{{ project.title }}</h3>
                                                    <h4 class="portfolio-cat">{{ project.tag }}</h4>

                                                    <div class="btn-group">
                                                        <a class="btn-link" href="{{ project.link }}" target="_blank"><i
                                                                    class="rsicon rsicon-link"></i></a>
                                                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1"
                                                           href="#portfolio{{ project.id }}-inline1"><i class="rsicon rsicon-eye"></i></a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>

                                        <!-- Start: Portfolio Inline Boxes -->
                                        <div id="portfolio{{ project.id }}-inline1" class="fancybox-inline-box">
                                            <div class="inline-embed" data-embed-type="image"
                                                 data-embed-url="{{ asset(project.innerImageUrl) }}"></div>
                                            <div class="inline-cont">
                                                <h2 class="inline-title">{{ project.shortDescription }}</h2>

                                                <div class="inline-text">{{ project.description | raw}}</div>
                                            </div>
                                        </div>
                                        <!-- End: Portfolio Inline Boxes -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- #portfolio -->

                <section id="experience" class="section section-experience">
                    <div class="animate-up">
                        <h2 class="section-title">Work Experience</h2>

                        <div class="timeline">
                            <div class="timeline-bar"></div>
                            <div class="timeline-inner clearfix">

                                {% for experience in freelancer.experiences %}
                                        <div class="timeline-box {% if loop.index is odd %}timeline-box-left{% else %}timeline-box-right{% endif %}">
                                            <span class="dot"></span>

                                            <div class="timeline-box-inner {% if loop.index is odd %}animate-right{% else %}animate-left{% endif %}">
                                                <span class="arrow"></span>

                                                <div class="date">{{ experience.dateRange }}</div>
                                                <h3>{{ experience.company }}</h3>
                                                <h4>{{ experience.jobTitle }}r</h4>
                                                <p>{{ experience.description }}</p>
                                            </div>
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #experience -->

                <section id="education" class="section section-education">
                    <div class="animate-up">
                        <h2 class="section-title">Education</h2>

                        <div class="timeline">
                            <div class="timeline-bar"></div>
                            <div class="timeline-inner clearfix">

                                {% for education in freelancer.education %}
                                    <div class="timeline-box timeline-box-compact {% if loop.index is odd %}timeline-box-left{% else %}timeline-box-right{% endif %}">
                                        <span class="dot"></span>

                                        <div class="timeline-box-inner {% if loop.index is odd %}animate-right{% else %}animate-left{% endif %}">
                                            <span class="arrow"></span>

                                            <div class="date"><span>{{ education.dateRange }}</span></div>
                                            <h3>{{ education.degree }}</h3>
                                            <h4>{{ education.university }}</h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #education -->

                <section id="blog" class="section section-blog">
                    <div class="animate-up">
                        <h2 class="section-title">From The Blog</h2>

                        <div class="blog-grid">
                            <div class="grid-sizer"></div>
                            <div class="grid-item">
                                <article class="post-box">
                                    <div class="post-media">
                                        <div class="post-image">
                                            <a href="single.html"><img src="img/uploads/thumb-449x286-1.jpg" alt=""> </a>
                                        </div>
                                    </div>

                                    <div class="post-data">
                                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                                            <span class="day">03</span>
                                            <span class="month">MAY</span>
                                        </time>

                                        <div class="post-tag">
                                            <a href="">#Photo</a>
                                            <a href="">#Architect</a>
                                        </div>

                                        <h3 class="post-title">
                                            <a href="single-image.html">Image Post</a>
                                        </h3>

                                        <div class="post-info">
                                            <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                                            <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="grid-item">
                                <article class="post-box">
                                    <div class="post-media">
                                        <div class="post-image">
                                            <a href="single-vimeo.html">
                                                <img src="img/uploads/thumb-449x286-5.jpg" alt="">
                                                <span class="post-type-icon"><i class="rsicon rsicon-play"></i></span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="post-data">
                                        <time class="post-datetime" datetime="2015-03-13T07:44:01+00:00">
                                            <span class="day">03</span>
                                            <span class="month">MAY</span>
                                        </time>

                                        <div class="post-tag">
                                            <a href="">#Photo</a>
                                            <a href="">#Architect</a>
                                        </div>

                                        <h3 class="post-title">
                                            <a href="single-vimeo.html">Vimeo Video Post</a>
                                        </h3>

                                        <div class="post-info">
                                            <a href=""><i class="rsicon rsicon-user"></i>by admin</a>
                                            <a href=""><i class="rsicon rsicon-comments"></i>56</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #blog -->

                <section id="contact" class="section section-contact">
                    <div class="animate-up">
                        <h2 class="section-title">Contact Me</h2>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="section-box contact-form">
                                    <h3>Feel free to contact me</h3>
                                    <div class="rsForm" data-url="{{ path('contact') }}">
                                        <div class="input-field">
                                            <label>Name</label>
                                            <input type="text" name="rsName" value="">
                                            <span class="contact-error name-error"></span>
                                        </div>

                                        <div class="input-field">
                                            <label>Email</label>
                                            <input type="email" name="rsEmail" value="">
                                            <span class="contact-error email-error"></span>
                                        </div>


                                        <div class="input-field">
                                            <label>Subject</label>
                                            <input type="text" name="rsSubject" value="">
                                            <span class="contact-error subject-error"></span>
                                        </div>

                                        <div class="input-field">
                                            <label>Message</label>
                                            <textarea rows="4" name="rsMessage"></textarea>
                                            <span class="contact-error message-error"></span>
                                        </div>

                                        <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="section-box contact-info has-map">
                                    <ul class="contact-list">
                                        <li class="clearfix">
                                            <strong>Address</strong>
                                            <span>Belgium, Brussels, Liutte 27, BE</span>
                                        </li>
                                        <li class="clearfix">
                                            <strong>phone</strong>
                                            <span><a href="tel:+12562548456">+1 256 254 84 56</a></span>
                                        </li>
                                        <li class="clearfix">
                                            <strong>E-mail</strong>
                                            <span><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
                                        </li>
                                    </ul>

                                    <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- #contact -->
                <!-- END: PAGE CONTENT -->

            </div>
            <!-- .container -->
        </div>
        <!-- .content -->

        <footer class="footer">
            <div class="footer-social">
                <ul class="social">
                    {% for socialNetwork in freelancer.socialNetworks %}
                        <li><a class="ripple-centered" href="{{ socialNetwork.link }}" target="_blank"><i class="rsicon {{ socialNetwork.icon }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </footer>
        <!-- .footer -->

    </div>
    <!-- .wrapper -->

    <a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>

    <div id="overlay"></div>
    <div id="preloader">
        <div class="preload-icon"><span></span><span></span></div>
        <div class="preload-text">Loading ...</div>
    </div>
{% endblock %}